rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn();
    }

    match /matches/{matchId} {
      allow read, write: if isSignedIn();
    }

    match /userPlayerLinkRequests/{requestId} {
      allow read, write: if isSignedIn();
    }

    match /mail/{mailId} {
      allow create: if isSignedIn();
      allow read, update, delete: if false;
    }

    match /shotTypes/{shotTypeId} {
      allow read, write: if isSignedIn();
    }

    match /shotEvents/{shotEventId} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
