service cloud.firestore {
  match /databases/{database}/documents {

		function isVerified() {
      return request.auth != null;
    }
    
    function isAuthorized() {
    	return request.auth != null
        && request.auth.token.email != null
        && exists(/databases/$(database)/documents/authorizedEmails/$(request.auth.token.email));
    }
    
    function isAdmin() {
    	return request.auth != null
        && request.auth.token.email != null
        && exists(/databases/$(database)/documents/authorizedEmails/$(request.auth.token.email))
        && get(/databases/$(database)/documents/authorizedEmails/$(request.auth.token.email)).data.admin == true;
    }
    
    match /authorizedEmails/{authorizedEmail} {
    	allow read: if isVerified() && isAuthorized();
      allow write: if isVerified() && isAdmin();
    }

		match /matches/{matchId} {

      match /{attendeesResultLog=**} {
        allow create: if isVerified() && isAuthorized();
      }

			allow write: if isVerified() && isAuthorized();
    }

		match /mail/{mailId} {
      allow update, delete: if false;
			allow read: if false;
			allow create: if isVerified() && isAuthorized();
    }

		match /userPlayerLinkRequests/{userPlayerLinkRequestId} {
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['linkedAt']) && request.resource.data.linkedAt != null;
      allow delete: if false;
			allow read: if isAuthorized() && request.auth.uid == resource.data.userUid;
			allow create: if isVerified() && isAuthorized();
    }

		match /users/{userId} {
			allow read: if isVerified() && isAuthorized();
      allow update: if isVerified() && (
	      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['linkedUserUids', 'settleUpProviderName', 'playerPositions', 'teamRoles', 'dressNumber', 'psmfNumber']) // TODO not checked against userPlayerLinkRequest
      	|| isAdmin()
      );
			allow create, delete: if isVerified() && isAdmin();
    }

		match /shotTypes/{shotTypeId} {
			allow read: if isVerified() && isAuthorized();
      allow write: if isVerified() && isAdmin();
    }

		match /shotEvents/{shotEventId} {
			allow read: if isVerified() && isAuthorized();
      allow create: if isVerified() && isAuthorized();
      allow update, delete: if isVerified() && isAdmin();
    }

		match /{document=**} {
    	allow read: if isVerified() && isAuthorized();
      allow write: if isVerified() && isAdmin();
    }
  }
}
