
.Match-attendees {
	margin-top: 10px;
}

.Match-cards {
	margin-bottom: 50px;
}

.Match-unresponded {
	margin-bottom: 80px;
}

.Match-changeResponse {
	margin-top: 80px;
}

.Match-attendees .table {
	table-layout: fixed;
	width: 100%;
}

.Match-attendees td {
	overflow-wrap: anywhere;
	word-break: break-word;
}

.Match-attendees .blockquote-footer {
	display: block;
	max-width: 100%;
}
