.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	color: #A5AFB5;
}

.App-header h1 {
	text-transform: uppercase;
}

.App-content {
	margin-top: 1rem;
	font-family: WorldOfWatter;
}

.App-content h1,
.App-content h2,
.App-content h3,
.App-content h4,
.App-content h5 {
	font-family: BebasNeueRegular;
}

.bg-dark {
	background-color: #4B5E6F !important;
}

.navbar-dark .navbar-brand {
	color: #DBDFE1;
}
