.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	color: #A5AFB5;
}

.App-header h1 {
	text-transform: uppercase;
}

.App-content {
	margin-top: 1rem;
}

.bg-dark {
	background-color: #4B5E6F !important;
}

.navbar-dark .navbar-brand {
	color: #DBDFE1;
}
